/* 公共样式 */

/* 版心 */
.w {
    width: 1190px;
    margin: 0 auto;
}

/*左右浮动栏*/
.fl {
    float: left;
}
.fr {
    float: right;
}

/* 红色样式 */
.w .style-red {
    color: #f10215;
}

/* 引入字体图标 */
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}


/* 顶部快捷导航 */
.shortcut {
    height: 30px;
    line-height: 30px;
    background-color: #e3e4e5;
    color: #999;
    font-weight: 400;
}
.shortcut a {
    color: #999;
}
.shortcut .w {
    background-color: #e3e4e5;
}

/* 顶部快捷导航 左侧*/
.shortcut .fl li {
    height: 30px;
    padding: 0 7px;
    line-height: 28px;
    border: 1px solid transparent;
    border-bottom: 0;
}
.shortcut .fl li:hover {
    cursor: pointer;
    border-color: #ddd;
    background-color: white;
}
.shortcut .fl li:hover a {
    color: #f10215;
}

.fl .iconfont-location svg {
    color: #f10215;
    font-size: 1.2em;
}

/* 顶部快捷导航 右侧*/
.shortcut .fr li {
    float: left;
}

.shortcut .fr li.spacer {
    margin: 11px 5px 0;
    width: 1px;
    height: 10px;
    overflow: hidden;
    background-color: rgb(204, 204, 204);
}

.shortcut .shortcut_btn {
    position: relative;
}

.shortcut .shortcut_btn .dt {
    padding: 0 7px;
}

.shortcut .shortcut_btn .container_icon {
    padding-right: 21px;
}

.shortcut .shortcut_btn i {
    position: absolute;
    font-size: 7px;
    top: 7.5px;
    right: 8px;
    line-height: 12px;
}

.shortcut .t-login {
    margin-right: 8px;
}

.shortcut .shortcut_btn .container_mobile {
    width: 60px;
    text-align: center;
}

/* footer */
footer {
    background-color: #eaeaea;
    padding-bottom: 30px;
    margin-bottom: 30px;
}


/* footer 1 slogen */
footer .slogen {
    border-bottom: 1px solid #dedede;
}

footer .slogen ol {
    display: flex;
    padding: 30px 10px;
    height: 42px;
    line-height: 42px;
}

.slogen .slogen_item {
    position: relative;
    flex: 1;
    padding-left: 46px;
    margin-left: 45px;
    color: #444;
    font-size: 18px;
    font-weight: 700;
}

.slogen .slogen_item i {
    position: absolute;
    left: 0;
    font-size: 0;
    width: 36px;
    height: 42px;
}

.slogen .slogen_item .slogen_i1 {
    background: url(../img/ico_service.png) 0 0 no-repeat;
}
.slogen .slogen_item .slogen_i2 {
    background: url(../img/ico_service.png) 0 -43px no-repeat;
}
.slogen .slogen_item .slogen_i3 {
    background: url(../img/ico_service.png) 0 -86px no-repeat;
}
.slogen .slogen_item .slogen_i4 {
    background: url(../img/ico_service.png) 0 -129px no-repeat;
}

/* footer 2 help */
footer .help {
    padding: 21px 0;
    border-bottom: 1px solid #dedede;
}

footer .help .wrap {
    padding-left: 55px;
    width: 1275px;
    height: 155px;
}

.help .wrap dt {
    height: 22px;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 700;
    color: #777;
}

.help .wrap dl {
    float: left;
    width: 255px;
    line-height: 22px;
}

.help .wrap dd {
    height: 22px;
    font-size: 12px;
    color: #666;
    overflow: hidden;
}

/* footer 3 copyright links */
.footer_copyright .w {
    width: 1100px;
}

.footer_copyright .footer_links {
    padding: 18px 0;
}

.footer_copyright p {
    font-size: 0;
}

.footer_copyright p a {
    font-size: 12px;
}

.footer_copyright p a:first-child {
    margin-left: 8px;
}

.footer_copyright p .link_split {
    font-size: 12px;
    margin: 0 10px;
    color: #ccc;
}

.footer_copyright .copyright {
    text-align: center;
}

.footer_copyright .copyright p {
    height: 22px;
}

.footer_copyright .copyright p a {
    color: #999;
}

/* slider btn */
.slider_ctrl {
  position: absolute;
  width: 45px;
  height: 35px;
  line-height: 35px;
  border-radius: 17px;
  background-color: rgba(0,0,0,.15);
}

.slider_ctrl i {
  position: relative;
  top: -1px;
  color: rgba(255,255,255,.9);
  font-size: 0.8em;
}

.slider_btn_pre {
  top: 50%;
  left: -20px;
  transform: translateY(-60%);
}

.slider_btn_pre i {
  left: 8px;
}

.slider_btn_next {
  top: 50%;
  right: -20px;
  transform: translateY(-60%);
}

.slider_btn_next i {
  right: 8px;
}