/* header */
header {
    height: 140px;
    border: 1px solid #e5e5e5;
    border-left: 0;
    border-right: 0;
    background-color: #fff;
}

header .w {
    position: relative;
    height: 140px;
}

header .logo {
    position: absolute;
    width: 190px;
    height: 120px;
    top: 10px;
}

header .logo a {
    display: block;
    width: 190px;
    height: 120px;
    font-size: 0;
    background: url(../img/logo.png) no-repeat 2px 0 ;
}

/* 搜索区域 */
header #search {
    position: absolute;
    left: 260px;
    top: 25px;
    background-color: rgb(173, 142, 142);
}

#search .f_search {
    position: relative;
    width: 546px;
    height: 32px;
    border: 2px solid #dc0000;
}

.f_search .inp-search {
    padding-top: 1px;
    padding-left: 17px;
    padding-right: 40px;
    width: 430px;
    height: 31px;
    border: 0;
    font-size: 0.8em;
}

.f_search .photo {
    position: absolute;
    right: 59px;
    top: 3px;
    width: 50px;
    font-size: 1.4em;
    text-align: center;
}

.f_search button {
    position: absolute;
    top: 0;
    right: 0;
    width: 58px;
    height: 33px;
    background-color: #e1251b;
}
.f_search button .icon {
    color: white;
    font-size: 1.6em;
}

/* 购物车 */
#search .mycart {
    position: absolute;
    top: 0;
    right: -150px;
    width: 130px;
    height: 34px;
    border: 1px solid #eee;
}

.mycart i {
    position: absolute;
    top: 4px;
    left: 19px;
    font-size: 1.3em;
    color: #dd0a00;
}

.mycart a {
    display: inline-block;
    color: #dd0a00;
    margin-left: 51px;
    margin-top: 8.5px;
}

.mycart .items {
    position: absolute;
    top: 1px;
    left: 29px;
    padding: 0 5.5px;
    line-height: 14px;
    color: white;
    background-color: #e1241a;
    border-radius: 9px;
}

/* 搜索区域热词 */
.hotwords {
    position: absolute;
    top: 41px;
    overflow: hidden;
}

.hotwords ul li {
    float: left;
    margin-left: 10px;
}
.hotwords ul li:first-child {
    margin-left: 0;
}

.hotwords ul li a {
    color: #999;
}

/* 主导航栏 */
header .h_nav {
    position: absolute;
    left: 203px;
    bottom: 0;
}

header .h_nav ul li {
    float: left;
}

.h_nav ul li.hot a {
    font-weight: 700;
    color: #e1251b;
}

header .h_nav ul li a {
    margin: 0 11.5px;
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
}

/* main */
.main {
    margin-top: 10px;
    overflow: hidden;
}

/* main column1 menu */
.main .m_col1 {
    float: left;
    width: 190px;
    height: 480px;
}

.main .m_menu {
    background-color: #fefefe;
    padding: 10px 0;
}

.m_menu ul.cate_menu {
    height: 450px;
}

/* font-size 设为0可以消除html换行生成的空格 */
.m_menu ul.cate_menu li {
    overflow: hidden;
    padding-left: 18px;
    height: 25px;
    line-height: 25px;
    font-size: 0;
}

.m_menu ul.cate_menu li:hover {
    background-color: rgb(216, 216, 216);
}

.m_menu ul.cate_menu li a {
    color: rgb(51, 51, 51);
    font-size: 14px;
}

.m_menu ul.cate_menu li a:hover {
    color: rgb(177, 26, 37);
}

.m_menu li span {
    padding: 0 2px;
    font-size: 12px;
}

/* main column2 slider */
.m_col2 {
    float: left;
    width: 790px;
    height: 470px;
    margin: 0 10px;
}

.m_slider .sliderBannerWrapper {
    float: left;
    width: 590px;
    height: 470px;
    background-color: yellow;
}

.m_slider .sliderBanner {
    position: relative;
    overflow: hidden;
    height: 470px;
}

.m_slider .slider_nav {
    position: absolute;
    left: 30px;
    bottom: 20px;
}

.m_slider .slider_nav li {
    float: left;
    margin-left: 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(155, 155, 155, 0.4);
}

.m_slider .slider_nav li:first-child {
    margin-left: 0;
}

.m_slider .slider_nav li.current {
    background-color: white;
    box-shadow: 0 0 2px gray;
}

.m_slider .slider_item .focus-item-img {
    width: 590px;
    height: 470px;
}

/* main column2 slider recommend */
.m_slider .sliderRecommendWrapper {
    float: left;
    margin-left: 10px;
    width: 190px;
    height: 470px;
}

.m_slider .sliderRecommendWrapper .sliderRecommend {
    position: relative;
    height: 470px;
    width: 190px;
    overflow: hidden;
}

.sliderRecommend .slider_item_recommend {
    display: inline-block;
}

.sliderRecommend .slider_wrapper li {
    display: none;
    height: 150px;
    width: 190px;
}

.sliderRecommend .slider_wrapper li.current {
    display: block;
}

.sliderRecommend .slider_wrapper li a img {
    display: block;
    margin-bottom: 10px;
    color: red;
    width: 190px;
    height: 150px;
    background-color: blue;
}

/* main column3 */
.main .m_col3 {
    float: right;
    width: 190px;
    height: 470px;
    background-color: white;
}

.m_col3 .m_login {
    position: relative;
    height: 102px;
}

.m_login .m_avatar {
    position: absolute;
    top: 13px;
    left: 20px;
    width: 44px;
    height: 44px;
}

.m_login .m_avatar>a>img {
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.m_login .m_show {
    position: absolute;
    top: 16px;
    left: 74px;
}

.m_login .m_show>p {
    margin-top: 1px;
}

.m_login .m_welfare {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.m_login .m_welfare .welfare_lk {
    display: inline-block;
    position: absolute;
    top: -35px;
    width: 70px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 13px;
}

.m_login .m_welfare .welfare_lk:nth-child(1) {
    left: 20px;
    background-color: #e1251b;
    color: #fff;
}

.m_login .m_welfare .welfare_lk:nth-child(2) {
    right: 20px;
    background-color: #363634;
    color: #e5d790;
}

.m_login .m_welfare::after,
.m_service::after {
    position: absolute;
    height: 1px;
    left: 15px;
    right: 15px;
    background: linear-gradient(270deg, white, #eeeeee, #eeeeee, white);
    content: " ";
    bottom: 0;
}

.m_col3 .m_news {
    position: relative;
    height: 130px;
}

.m_news .news_h {
    position: relative;
    background-color: white;
    padding: 10px 0 8px;
    height: 20px;
    line-height: 20px;
}

.m_news .news_h h5 {
    display: inline-block;
    margin-left: 15px;
    font-size: 14px;
    color: #333;
}

.m_news .news_h .news_h_more {
    position: absolute;
    right: 23.5px;
    top: 10px;
    color: #999;
}

.news_h_more .icon {
    position: absolute;
    top: 8px;
    font-size: 5.5px;
}

.m_news .news_b {
    margin: 0 15px;
    height: 88px;
}

.m_news .news_b li {
    max-width: 160px;
    height: 16px;
    line-height: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #999;
    margin-bottom: 6px;
}

.m_news .news_b .news_tag {
    display: inline-block;
    margin-right: 2.5px;
    height: 16px;
    width: 35px;
    text-align: center;
    color: #e1251b;
    background-color: #fdeeed;
}

.m_col3 .m_service {
    position: relative;
    height: 238px;
}

.m_service::after {
    top: -10px;
}

.m_service .service_list {
    margin-top: 10px;
}

.m_service .service_item {
    float: left;
    width: 63px;
    height: 55px;
    text-align: center;
}

.m_service .service_icon {
    display: block;
    margin: 0 auto;
    width: 28px;
    height: 28px;
    background-color: pink;
}

.serv11 .service_icon {
    background: url(../img/m_serve_icon.png) no-repeat -2.5px -3.5px;
}

.serv12 .service_icon {
    background: url(../img/m_serve_icon.png) no-repeat -65.5px -3.5px;
}

.serv13 .service_icon {
    background: url(../img/m_serve_icon.png) no-repeat -129.5px -3.5px;
}

.serv21 .service_icon {
    background: url(../img/m_serve_icon.png) no-repeat -2.5px -59px;
}

.serv22 .service_icon {
    background: url(../img/m_serve_icon.png) no-repeat -65.5px -59px;
}

.serv23 .service_icon {
    background: url(../img/m_serve_icon.png) no-repeat -129.5px -59px;
}

.serv31 .service_icon {
    background: url(../img/m_serve_icon.png) no-repeat -2.5px -114.5px;
}

.serv32 .service_icon {
    background: url(../img/m_serve_icon.png) no-repeat -65.5px -114.5px;
}

.serv33 .service_icon {
    background: url(../img/m_serve_icon.png) no-repeat -129.5px -114.5px;
}

.serv41 .service_icon {
    background: url(../img/m_serve_icon.png) no-repeat -2.5px -169px;
}

.serv42 .service_icon {
    background: url(../img/m_serve_icon.png) no-repeat -65.5px -169px;
}

.serv43 .service_icon {
    background: url(../img/m_serve_icon.png) no-repeat -129.5px -169px;
}


.m_service .service_txt {
    display: block;
    height: 25px;
    line-height: 25px;
    color: #333;
}

/* app */
/* ap_seckill */
#app {
  margin-top: 20px;
}

#ap_seckill {
  height: 260px;
}

.seckill_inner {
  background-color: #fff;
  height: 100%;
}

/* seckill-countdown */
.seckill-countdown {
  float: left;
  width: 190px;
  height: 100%;
  color: #fff;
  background: url(../img/countdown_backimg.png) no-repeat;
  text-align: center;
  cursor: pointer;
}

.seckill-countdown .countdown-title {
  line-height: 106px;
  font-size: 30px;
  font-weight: bold;
}

.seckill-countdown .countdown-desc {
  margin-top: 60px;
  font-size: 14px;
}

.seckill-countdown .countdown-desc strong {
  display: inline-block;
  margin-top: -1px;
  margin-right: -2px;
  vertical-align: middle;
  font-size: 18px;
}

.seckill-countdown .countdown-timmer {
  position: relative;
  display: flex;
  margin: 10px auto;
  width: 130px;
  justify-content: space-between;
}

.seckill-countdown .countdown-timmer .timmer__unit {
  width: 30px;
  height: 30px;
  background-color: rgb(46, 45, 45);
  font-size: 20px;
  font-weight: 800;
}

.seckill-countdown .timmer_hour::after {
  content: ":";
  display: block;
  position: absolute;
  font-size: 18px;
  top: 0;
  left: 37px;
  color: #fff;
}

.seckill-countdown .timmer_minute::after {
  content: ":";
  display: block;
  position: absolute;
  font-size: 18px;
  top: 0;
  left: 87px;
  color: #fff;
}

/* seckill-list */
.seckill-list {
  position: relative;
  float: left;
  width: 800px;
  height: 100%;
  overflow: hidden;
}


.seckill-list .slider_wrapper {
  height: 100%;
  width: 800px;
  background-color: #fff;
}

.seckill-list .slider_item {
  display: block;
  float: left;
  width: 200px;
  height: 100%;
  text-align: center;
}

.seckill-list .slider_item::after {
  content: "";
  display: block;
  position: absolute;
  top: 18%;
  width: 1px;
  height: 200px;
  background: linear-gradient(180deg,#fff,#eeeeee,#fff);
}

.seckill-list .slider_item .slider_item_img {
  width: 140px;
  height: 140px;
  margin: 30px auto 0 auto;
}

.slider_item_img img {
  height: 100%;
  width: 100%;
}

.slider_item .slider_item_name {
  margin: 13px auto 9px auto;
  width: 160px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 400;
  text-overflow: ellipsis;
}

.slider_item .slider_item_price {
  margin: 0 auto;
  width: 66px;
  color: #e1251b;
  font-size: 12px;
  font-weight: 700;
}

/* seckill-brand */
.seckill-brand {
  float: left;
  margin-top: 10px;
  margin-left: 18px;
  box-sizing: border-box;
  width: 170px;
  height: 240px;
  text-align: center;
  cursor: pointer;
}

.seckill-brand_slider .item-image {
  width: 120px;
  height: 120px;
  margin: 20px auto 0 auto;
}

.seckill-brand_slider .item-image img {
  width: 100%;
  height: 100%;
}

.seckill-brand_slider .item-info {
  margin-top: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 90px;
  font-size: 14px;
  background: linear-gradient(#fff, #e4e7eb);
}

.seckill-brand_slider .item-info-promo {
  color: #333;
  font-weight: 700;
}

.seckill-brand_slider .item-info-action {
  margin: 4px auto;
  width: 82px;
  height: 24px;
  padding-top: 1px;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 700;
  color: #e1251b;
  border: 1px solid;
  border-radius: 14px;
}
.seckill-brand_slider .item-info-action:hover {
  color: #fff;
  background-color: #e1251b;
}

/* ap_channels */
#ap_channels {
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

.channels_head {
  height: 65px;
}

.channels_title {
  position: relative;
  margin: 0 auto 20px;
  padding: 0 30px;
  width: 150px;
  height: 45px;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  color: #333;
}

.channels_title:after,
.channels_title:before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -10px;
  background-image: url(../img/sprite.png);
  width: 25px;
  height: 20px;
}

.channels_title:before {
  left: 0;
}

.channels_title:after {
  right: 0;
  background-position: -25px 0;
}

